.add{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}

.add form{
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-img-upload{
  border: 1px solid tomato;
  display: flex;
  align-items: center;
  padding: 30px 80px;
  border-radius: 20px;
}

.add-img-upload img{
  width: 120px;
  cursor: pointer;
}

.add-product-name, .add-product-description{
  width: max(40%, 280px);
}

.add-product-name input, .add-product-description textarea{
  padding: 10px;
}

.add-category-price{
  display: flex;
  gap: 30px;
}

.add-category-price select, .add-category-price input{
  width: 120px;
  padding: 10px;
}

.add-btn{
  max-width: 120px;
  border: none;
  padding: 10px 30px;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@media(max-width: 600px){
  .add form{
    width: 100%;
    margin-bottom: 30px;
  }
  .add-img-upload{
    width: 70%;
  }
  .add-img-upload p{
    display: none;
  }
  .add-product-name, .add-product-description{
    width: 90%;
  }
  .add-category-price{
    flex-direction: column;
    align-items: center;
  }

}